  <div class="content">
      
        <div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header">
                    <h3>管理员列表</h3>
                    <div class="span10 pull-right">
                        <input type="text" class="span5 search" placeholder="Type a user's name..." />
                        
                        <!-- custom popup filter -->
                        <!-- styles are located in css/elements.css -->
                        <!-- script that enables this dropdown is located in js/theme.js -->
                        <div class="ui-dropdown">
                            <div class="head" data-toggle="tooltip" title="Click me!">
                                Filter users
                                <i class="arrow-down"></i>
                            </div>  
                            <div class="dialog">
                                <div class="pointer">
                                    <div class="arrow"></div>
                                    <div class="arrow_border"></div>
                                </div>
                                <div class="body">
                                    <p class="title">
                                        Show users where:
                                    </p>
                                    <div class="form">
                                        <select>
                                            <option />Name
                                            <option />Email
                                            <option />Number of orders
                                            <option />Signed up
                                            <option />Last seen
                                        </select>
                                        <select>
                                            <option />is equal to
                                            <option />is not equal to
                                            <option />is greater than
                                            <option />starts with
                                            <option />contains
                                        </select>
                                        <input type="text" />
                                        <a class="btn-flat small">Add filter</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="new-user.html" class="btn-flat success pull-right">
                            <span>&#43;</span>
                            NEW USER
                        </a>
                    </div>
                </div>

                <!-- Users table -->
                <div class="row-fluid table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span4 sortable">
                                                                                                   真实 姓名
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>昵称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>创建时间
                                </th>
                                <th class="span3 sortable ">
                                    <span class="line"></span>邮箱
                                </th>
                                <th class="span3 sortable ">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- row -->
                        {volist name="users" id="user"}
                           <tr class="first">
                            <td>
                                {$user.profile.truename}
                            </td>
                            <td>
                               {$user.profile.nickname}
                            </td>
                            <td>
                               {$user.createtime}
                            </td>
                            <td >
                                {$user.useremail}
                            </td>
                            <td>
                             <a href="{:url('users/del?id='.$user.userid)}">  <span class="line align-right" >删除</span> </a> 
                            </td>
                        </tr>
                         {/volist}
                     
                        </tbody>
                    </table>
                </div>
                <div class="pagination pull-right">
                {$users->render()}
                 
                </div>
                <!-- end users table -->
            </div>
        </div>
    </div>
    
   <script>
   
   
   
   </script>